{% extends 'pages/project_header.html' %}
{% block title %}
    Sound Processing
{% endblock %}
{% block content %}
    <div class="page-wrapper bg-green p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Sound Analysis</h2>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Project Name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="project_name">
                            </div>
                        </div>
                       
                        <div class="form-row">
                            <div class="name">Analysis Mode</div>
                            <div class="value">
                                <select name="analysis_mode">
                                    <option value="sound_recognition">Sound Recognition</option>
                                    <option value="text_in_sound">Text in Sound</option>
                                    <option value="foreign_language">Foreign Language Translate</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Upload  Sound</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input class="input-file" type="file" name="soundFile" id="file">
                                    <label class="label--file" for="file">Choose file</label>
                                    <span class="input-file__info">No file chosen</span>
                                </div>
                                <div class="label--desc">Upload your Sound. Max file size 10 MB</div>
                            </div>
                        </div>
                        <div class="form-row">
                            
                            <div class="name">Sound Uploaded</div>
                            
                            <div class="value">
                                {% if soundName %}
                                    <p>{{soundName}}</p>
                                {% endif %}
                                {% if soundUrl %}
                                    <audio controls>
                                        <source src="{{soundUrl}}" type="audio/ogg">
                                        <source src="{{soundUrl}}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Analytis Result</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="analytis_result" placeholder="Analytis Result"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2" name="send_request" type="submit">Send Request</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}