RewriteEngine On
RewriteRule ^login/?$ core/auth/login.php
RewriteRule ^sign-up/?$ core/auth/signup.php
RewriteRule ^admin/?$ core/backend/admin.php
RewriteRule ^console-application/?$ core/backend/console-application.php
RewriteRule ^console/image-processing/?$ core/backend/interdisciplinary-app/image-processing.php
RewriteRule ^console/video-processing/?$ core/backend/interdisciplinary-app/video-processing.php
RewriteRule ^console/discrete-mathematics/?$ core/backend/interdisciplinary-app/discrete-mathematics.php
RewriteRule ^console/data-conversion/?$ core/backend/interdisciplinary-app/data-conversion.php
RewriteRule ^console/content-management-system/?$ core/backend/interdisciplinary-app/content-management-system.php
RewriteRule ^console/container/?$ core/backend/interdisciplinary-app/container.php
RewriteRule ^console/computer-science/?$ core/backend/interdisciplinary-app/computer-science.php
RewriteRule ^console/devops/?$ core/backend/interdisciplinary-app/devops.php
RewriteRule ^console/erp/?$ core/backend/interdisciplinary-app/erp.php
RewriteRule ^console/geographic-information-system/?$ core/backend/interdisciplinary-app/geographic-information-system.php
RewriteRule ^console/natural-language-processing/?$ core/backend/interdisciplinary-app/natural-language-processing.php
RewriteRule ^console/testing/?$ core/backend/interdisciplinary-app/testing.php
RewriteRule ^console/translate/?$ core/backend/interdisciplinary-app/translate-services.php
RewriteRule ^console/blog/?$ core/backend/interdisciplinary-app/blog.php
RewriteRule ^console/blog/project/?$ core/backend/user-project/blogger-project.php
RewriteRule ^console/blog/api/?$ core/backend/api/blogger-api.php
RewriteRule ^console/computer-science/project/?$ core/backend/user-project/computer-science-project.php
RewriteRule ^console/computer-science/api/?$ core/backend/api/computer-science-api.php
RewriteRule ^console/container/project/?$ core/backend/user-project/container-project.php
RewriteRule ^console/container/api/?$ core/backend/api/container-api.php
RewriteRule ^console/content-management-system/project/?$ core/backend/user-project/content-management-system-project.php
RewriteRule ^console/content-management-system/api/?$ core/backend/api/content-management-system-api.php
RewriteRule ^console/data-conversion/project/?$ core/backend/user-project/data-conversion-project.php
RewriteRule ^console/data-conversion/api/?$ core/backend/api/data-conversion-api.php
RewriteRule ^console/devops/project/?$ core/backend/user-project/devops-project.php
RewriteRule ^console/devops/api/?$ core/backend/api/devops-api.php
RewriteRule ^console/discrete-mathematics/project/?$ core/backend/user-project/discrete-mathematics-project.php
RewriteRule ^console/discrete-mathematics/api/?$ core/backend/api/discrete-mathematics-api.php
RewriteRule ^console/erp/project/?$ core/backend/user-project/erp-project.php
RewriteRule ^console/erp/api/?$ core/backend/api/erp-api.php
RewriteRule ^console/geographic-information-system/project/?$ core/backend/user-project/geographic-information-system-project.php
RewriteRule ^console/geographic-information-system/api/?$ core/backend/api/geographic-information-system-api.php
RewriteRule ^console/image-processing/project/?$ core/backend/user-project/image-processing-project.php
RewriteRule ^console/image-processing/api/?$ core/backend/api/image-processing-api.php
RewriteRule ^console/natural-language-processing/project/?$ core/backend/user-project/natural-language-processing-project.php
RewriteRule ^console/natural-language-processing/api/?$ core/backend/api/natural-language-processing-api.php
RewriteRule ^console/testing/project/?$ core/backend/user-project/testing-project.php
RewriteRule ^console/testing/api/?$ core/backend/api/testing-api.php
RewriteRule ^console/translate-services/project/?$ core/backend/user-project/translate-services-project.php
RewriteRule ^console/translate-services/api/?$ core/backend/api/translate-services-api.php
RewriteRule ^console/video-processing/project/?$ core/backend/user-project/video-processing-project.php
RewriteRule ^console/video-processing/api/?$ core/backend/api/video-processing-api.php