{% load static %}
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">AI Solution</h5>
        <p>Applied Algorithm in Artificial Intelligence and Computational Interdisciplinary: </p>
        <a href="http://localhost:81/ai-solution/">
          <img src="{% static 'images/logo.png' %}"/>
        </a>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-2">
        <h5 class="text-uppercase">Solution</h5>
        <ul class="list-unstyled">
          <li>
            <a class="" href="{% url 'solution/computational-interdisciplinary' %}">Computational Interdisciplinary</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/aerospace-engineering-and-defense' %}">Aerospace Engineering and Defense</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/automotive-engineering' %}">Automotive Engineering</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/chemical-engineering' %}">Chemical Engineering</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/control-systems' %}">Control Systems</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/data-science' %}">Data Science</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/electrical-engineering' %}">Electrical Engineering</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/image-processing' %}">Image Processing</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/video-processing' %}">Video Processing</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/industrial-engineering' %}">Industrial Engineering</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/signal-processing' %}">Signal Processing</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/statistics' %}">Statistics</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/software-engineering' %}">Software Engineering</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/nlp-processing' %}">NLP Processing</a>
          </li>
          <li>
            <a class="" href="{% url 'solution/web-development' %}">Web Development</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5 class="text-uppercase">Services</h5>
        <ul class="list-unstyled">
          <li>
            <a class="" href="{% url 'services/ai-programming-script' %}">AI Programming Script</a>
          </li>
          <li>
            <a class="" href="{% url 'services/ai-api' %}">AI API</a>
          </li>
          <li>
            <a class="" href="{% url 'services/analysis-api' %}">Analysis API</a>
          </li>
          <li>
            <a class="" href="{% url 'services/data-repository' %}">Data Repository</a>
          </li>
          <li>
            <a class="" href="{% url 'services/data-virtualization' %}">Data Virtualization</a>
          </li>
          <li>
            <a class="" href="{% url 'services/programming-lab' %}">Programming Lab</a>
          </li>
          <li>
            <a class="" href="{% url 'services/mathematical-lab' %}">Mathematical Lab</a>
          </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5 class="text-uppercase">Technology</h5>
        <ul class="list-unstyled">
          <li>
            <a class="" href="{% url 'technology/product-documentation' %}">Product Documentation</a>
          </li>
          <li>
            <a class="" href="{% url 'technology/ai-language' %}">AI Language</a>
          </li>
          <li>
            <a class="" href="{% url 'technology/ai-cloud' %}">AI Cloud</a>
          </li>
          <li>
            <a class="" href="{% url 'technology/ai-natural-language-understanding' %}">AI Natural Language Understanding</a>
          </li>
          <li>
            <a class="" href="{% url 'technology/ai-digital-map' %}">AI Digital Map</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="{{PHP_HOST}}"> AI Solution</a>
  </div>
</footer>