textblog
numpy
scipy
matplotlib
pandas
csv
gtts
PyAudio
SpeechRecognition
nltk
ipython 
scikit-learn 
librosa
jupyter 
pydub
argparse
opencv-contrib-python
imutils
tesseract
tesseract-ocr
pillow
requests 
bs4 
colorama
networkx
pafy
vaderSentiment